# Read formation tops

- Read tops to dictionaries
- Read tops to `striplog`
- Read tops to `pandas`

## Raw data

In [1]:
from striplog.utils import read_petrel
import numpy as np

fname = "../data/Formation_tops/Well_Tops.asc"

# Need striplog 0.8.8 to pass a single function.
nullify = lambda x: np.nan if x==-999 else x

data = read_petrel(fname, function=nullify)
data.keys()

dict_keys(['X', 'Y', 'Z', 'TWT picked', 'TWT auto', 'Geological age', 'MD', 'Type', 'Surface', 'Well', 'Interpreter', 'Confidence factor', 'Dip angle', 'Dip azimuth', 'Missing', 'TVT', 'TST', 'TVT zone', 'TST zone', 'Observation number', 'Used by dep.conv.', 'Used by geo mod', 'Zone log', 'Edited by user', 'Symbol', 'Locked to fault', 'FLOAT,Continuous', 'FLOAT,Carb_net2', 'FLOAT,SH_WS_belowcontact', 'PVD auto'])

## To `pandas`

In [2]:
import pandas as pd

df = pd.DataFrame.from_dict(data)
df.head()

,X,Y,Z,TWT picked,TWT auto,Geological age,MD,Type,Surface,Well,...,Used by dep.conv.,Used by geo mod,Zone log,Edited by user,Symbol,Locked to fault,"FLOAT,Continuous","FLOAT,Carb_net2","FLOAT,SH_WS_belowcontact",PVD auto
0,256256.0,591586.0,-2824.0,NaN,-1875.9,NaN,2831.50,Horizon,USS_3.1_T,AMR- 1,...,False,False,0.0,False,0.0,0.0,NaN,NaN,NaN,-2824.0
1,256634.0,591613.0,-2790.0,NaN,NaN,NaN,2818.75,Horizon,USS_3.1_T,AMR- 2,...,False,True,0.0,False,0.0,0.0,NaN,NaN,NaN,-2790.0
2,256627.0,591617.0,-2789.0,NaN,NaN,NaN,2828.31,Horizon,USS_3.1_T,AMR- 3,...,False,True,0.0,False,0.0,0.0,NaN,NaN,NaN,-2789.0
3,256583.0,591606.0,-2786.0,NaN,NaN,NaN,2829.86,Horizon,USS_3.1_T,AMR- 4,...,False,True,0.0,False,0.0,0.0,NaN,NaN,NaN,-2786.0
4,256533.0,591778.0,-2791.0,NaN,NaN,NaN,2888.83,Horizon,USS_3.1_T,AMR- 5B,...,False,True,0.0,False,0.0,0.0,NaN,NaN,NaN,-2791.0

## To `striplog`